.titreService {
    margin-top: 100px;
}
.service {
    .row {
        .col-4 {
            padding: 0;
        }
        .img-fluid {
            width: 100%;
            height: auto;
        }
        .fond {
            background-color: #F4F4F4;
        }
    }
}
