.formulaire {
    .bg {
    background-color: $main-color;
    height: 400px;
    margin-top: -480px;
    }
    .btn {
    background-color: $secondary-color;
    color: white;
    }
    .contact {
        color: $main-color;
        i {
            color: $secondary-color;
        }
    }
}
